body {
    padding-top: 50px;
    background-image: url("https://wallpaperscraft.com/image/steam_the_digital_distribution_valve_service_digital_distribution_of_computer_games_95837_1600x900.jpg");
    background-size: 1600px 900px;
    color: white;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}
.navbar {
    background-color: #3a6b9c;
}
.navbar-inverse {
    background-color: #3a6b9c;
}
.navbar-fixed-top {
    background-color: #3a6b9c;
}

h1 {
    font-family: "Tahoma";
}